.flex-highlight-outer {
  // padding-bottom: 1.5rem;
  background: #FFF;

  .highlight-item {
    position: relative;
    display: block;
    text-decoration: none;

    .highlight-title,
    .highlight-btn {
      color: #FFF;
      text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    }

    .highlight-btn {
      font-size: 28px;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.15);
      transition: background 0.25s;
    }

    &:hover:after,
    &:focus:after {
      background: rgba(0, 0, 0, 0.35);
    }

    >div {
      position: relative;
      z-index: 3;
      @include padding-left-right;
      padding-top: 4rem;
      padding-bottom: 4rem;
      text-align: center;
    }

    .highlight-title {
      margin: 0;
      font-weight: bold;
      letter-spacing: normal;
    }

    .highlight-img {
      display: block;
      object-fit: cover;
      font-family: 'object-fit: cover';
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      // For some reason, IE11 seems to need this
      left: 0;
      top: 0;
    }
  }

  @include respond-to('small') {
    .flexible-highlight-inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .flexible-highlight-inner.col-2,
    .flexible-highlight-inner.col-4 {
      .highlight-item {
        flex: 0 0 50%;
      }
    }

    .flexible-highlight-inner.col-3 {
      .highlight-item {
        flex: 0 0 33.333%;
      }
    }

    .highlight-item {
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #FFF;
      border-right: 1px solid #FFF;

      &:first-of-type {
        border-left: none;
      }

      &:last-of-type {
        border-right: none;
      }
    }
  }

  @include respond-to('medium') {
    .highlight-item>div {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    .flexible-highlight-inner.col-4 {
      .highlight-item {
        flex: 0 0 25%;
      }
    }
  }
}